<!-- Footer -->

<footer class="bg-gray-900 text-gray-400 fixed bottom-0 w-full">
	<div class="border-multicolor"></div>

	<div class="container mx-auto text-center py-2">
		<p class="text-xs">© 2023 OpenProfile - Early Access</p>
	</div>
</footer>

<!-- External Libraries -->
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>